@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url(https://raw.githack.com/hellbound1337/dark-discord/master/src/source.css);

#app-mount {
   font-family: var(--font) !important;
   left: 6px;
   top: 6px;
   height: calc(100vh - 12px);
   width: calc(100vw - 12px);
   box-shadow: 0 0 0 1px var(--border-color), 0 0 0 4px #282828, 0 0 0 5px var(--border-color), 0 0 0 6px #0a0a0a;
}

.winButton-iRh8-Z {
   top: 2px !important;
}

.wordmark-2iDDfm {
   opacity: 1;
   font-family: 'Raleway' !important;
}

.wordmark-2iDDfm::before {
   content: 'game';
   font-size: 14px;
   z-index: 1000;
   position: fixed;
   display: inline-block;
   color: var(--text-normal);
   height: auto;
   top: 14px;
   left: 12px;
   background-color: transparent;
}

.wordmark-2iDDfm::after {
   content: 'sense';
   font-size: 14px;
   z-index: 1000;
   position: fixed;
   display: inline-block;
   color: var(--tint);
   height: auto;
   top: 14px;
   left: 50px;
   background-color: transparent;
}

.winButtonClose-1HsbF-:hover {
   background-color: transparent;
   color: white !important;
}

.winButtonMinMax-PBQ2gm:hover {
   background-color: transparent;
   color: white !important;
}

.wordmark-2iDDfm svg {
   display: none;
}

.typeWindows-1za-n7 {
   height: 26px;
   margin-top: 1px !important;
   margin-left: 1px;
   margin-right: 1px;
   background: var(--title-gradient);
   box-shadow: inset 0 -23px 0 0 var(--background-tertiary), inset 0 -24px 0 0 rgba(0, 0, 0, 0.5);
   opacity: 1;
   z-index: 50;
   border-bottom: 1px solid var(--border-color) !important;
}

.scrollableContainer-2NUZem {
   border: 1px solid var(--border-color);
   border-radius: 0;
}

.guild-1EfMGQ.active .guildInner-3DSoA4 {
   background: var(--tint) !important;
}

.container-3baos1,
.container-3baos1 .avatar-SmRMf2 {
   border: 1px solid var(--border-color);
   border-left: none;
   border-bottom: none;
}

.container-1giJp5 {
   border: 1px solid var(--border-color);
   border-left: none;
   border-bottom: none;
}

.privateChannels-1nO12o {
   border: 1px solid var(--border-color);
   border-left: none;
   border-bottom: none;
   border-top: none;
}

.container-PNkimc {
   border-right: 1px solid var(--border-color);
}

.membersWrap-2h-GB4 {
   border-left: 1px solid var(--border-color);
}

.container-1r6BKw.themed-ANHk51 {
   border-bottom: 1px solid var(--border-color);
}

.clickable-2ap7je .header-2o-2hj {
   border-bottom: 1px solid var(--border-color);
}

.activityPanel-28dQGo {
   border-right: 1px solid var(--border-color);
   border-top: 1px solid var(--border-color);
}

.platform-win .scroller-2TZvBN {
   border-right: 1px solid var(--border-color);
}

.drawerSizingWrapper-17Mss4 {
   border: 1px solid var(--border-color);
   border-radius: 10px;
}

.userPopout-3XzG_A {
   -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--border-color) !important;
   box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--border-color) !important;
}

.wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU .name-3_Dsmg,
.wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU svg,
.selected-aXhQR6.container-2Pjhx- {
   color: var(--tint) !important;
}

.sidebarRegionScroller-3MXcoP {
   border-right: 1px solid var(--border-color);
}

.platform-osx .scroller-2TZvBN {
   border-right: 1px solid var(--border-color);
}

.typeMacOS-3EmCyP {
   border-right: 1px solid var(--border-color);
   width: 71px !important;
}

.searchBar-6Kv8R2 {
   border-bottom: 1px solid var(--border-color) !important;
   height: 47px !important;
}

.nowPlayingColumn-2sl4cE {
   border-left: 1px solid var(--border-color);
}
